body{
    background-color: rgb(196, 196, 224);
}

.div{

    background-color: aqua;
    height: 300px;
    width: 450px;
    border: 5px solid black;
    border-radius: 2%;
    margin-top: 100px;
    padding-top: 100px;    
    
}

.btn{
    background-color: rgb(215, 157, 206);
    height: 40px;
    width: 150px;
    margin: 30px;
    margin-top: 50px;
    border: 2.5px solid black;
    border-radius: 7px;
    color: antiquewhite;
    font-size:medium;
    font-weight: 700;
}